<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>OffiBoard - Personnaliser</title>
		
		<!-- Bootstraps -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

         <!-- ChartJS-->
        <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js></script>
		
		<link rel="stylesheet" href="css/style.css"/>
		<script data-require="angular.js@1.0.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js" data-semver="1.0.8"></script>
		
			<!-- Dates en français -->
		<script src="js/angular-locale_fr-fr.js"></script>
		
		<script> 
			var app = angular.module('TestUploadFile', []);
		</script>

		<script src="js/upload.js"></script>
		<script src="js/app.js"></script>
	</head>

	<body ng-app="TestUploadFile" ng-controller="JsonUploadController">

		<div class="navigation">
			<ul class="nav-main">
				<li class="offiTitle">OffiBoard</li>
				<li><a href="index.html">Accueil</a></li>
				<li><a href="#">Ventes</a></li>
				<li><a href="#">Achats</a></li>
				<li><a href="#">Clients</a></li>
				<li><a href="#">Collectivités</a></li>
				<li><a href="#">Opérateurs</a></li>
				<li><a href="#">Produits</a></li>
				<li><a href="personnaliser.html">Personnaliser</a></li>
			</ul>
		</div>
		
		<p>
		<!-- <div class="container">
			<p style="float: right;">Le {{ clock | date:"EEEE dd MMMM yyyy"}} à {{ clock | date:"HH:mm:ss"}}</p>
		</div> -->
		</p>

		<span><center><h3>Liste des Widgets</h3></center></span>
		
		<br><br>
		
		<div id="droit">
			<ul>
				<a href="#"><button type="button" class="btn btn-success"  data-toggle="modal" data-target="#Ajout" style="margin-bottom:3px">Ajouter un Widget</button></a>
				<a href="#"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Supprimer" style="margin-bottom:3px">Supprimer un Widget</button></a>

				<select ng-change ="comparer(sectionWidget2)" ng-model="sectionWidget2"
						ng-init="sectionWidget2 = listeSection2[0]"
						ng-options="option for option in listeSection2">
				</select>
			</ul>
		</div>

		<div id="flexDisplay2" class="container">

			<div id="resultsWidg" ng-repeat="widget in listWidgets" ng-show="flag">
			
				<div class="headerWidget">
					<span>{{widget.nomWidget}}</span>
					<button type="button" class="btn btn-info"
						ng-click="openWidget(widget.idWidget, widget.nomWidget, widget.nbCol, widget.idCol, widget.Axes, widget.nbLignes, widget.jsonFile, widget.sectionWidget, widget.jsonName, widget.keys, widget.lignes, widget.values, widget.types, widget.filteredItems, widget.groupedItems, widget.itemsPerPage, widget.pagedItems, widget.currentPage, widget.query, widget.sortingOrder, widget.reverse)"
						data-toggle="modal"
						data-target="#Modifier">
					Modifier
					</button>
				</div>
			
				<div id="flexDisplayNew">
									
					<div id="conteneurNew">
										
						<div class="col-md">
											
							<span><b>Json sélectionné :</b> {{widget.jsonName}}</span>
							<br><br>
									
							<span><b>Section du Widget :</b> {{widget.sectionWidget}}</span>
							<br><br>
											
							<span><b>Premier axe :</b> {{widget.keys[widget.Axes[0]]}}</span>
							<br><br>
							
							<span><b>Deuxième axe :</b> {{widget.keys[widget.Axes[1]]}}</span>
										
							<!-- <span><b>Axes supplémentaires<br>(5 maximum) :</b><br><br></span> -->

						</div>
												
					</div>

					<!--
					<div id="conteneur">
						<div>
							Fonction somme par mois : 
							<input type="text" placeholder="Choisissez l'année" ng-model="selectedYear">
							<button ng-click="afficherGrapheTableau()" ng-bind="labelButtonGraphtoTable"></button>
							<br>
							<div id="visualisationContainer2" ng-show="!booleenGrapheTableau && selectedYear">
								<br><br>
								<canvas id="ChartCanvas2">
									{{showCanvas2(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)}}
												
								</canvas>


							</div>
										
							<div ng-show="booleenGrapheTableau && selectedYear">
								<table>
									<tr>
										<th>Mois</th><th>{{keys[selecteds[1]]}}</th>
									</tr>
									<tr ng-repeat="CA in sumValuesByMonth(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)">
										<td>{{ getMonthsNames()[$index] }}</td>
										<td >{{ sumValuesByMonth(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)[$index] }}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					-->
										
					<div id="conteneurNew">
										
						<div>
							<div class="pagination">
							
								<div id="flexDisplay">
									<div>
										<input type="text" ng-model="widget.query" ng-change="search2(widget.idWidget)" placeholder="Search" style="margin-right:20px;">
									</div>
											
									<div>
										<button ng-click="reinitOrder2(widget.idWidget)" style="margin-right:20px;">=</button>
									</div>
									
									<div>
										<input type="text" ng-model="widget.itemsPerPage" ng-change="search2(widget.idWidget)" placeholder="Items Per Page" size="5" style="margin-right:20px;">
									</div>
								</div>
								<br><br>
								<div id="flexDisplay">
									<div ng-class="{disabled: widget.currentPage == 0}" style="margin-right:20px;">
										<a href ng-click="firstPage2(widget.idWidget)">First</a>
									</div>
									<div ng-class="{disabled: widget.currentPage == 0}" style="margin-right:20px;">
										<a href ng-click="prevPage2(widget.idWidget)">« Prev</a>
									</div>
									<div>
										<input ng-model="widget.currentPage" type="text" placeholder="" size="5" style="margin-right:20px;">
									</div>
									<!--
									<li ng-repeat="n in range(pagedItems.length)"
										ng-class="{active: n == currentPage}"
										ng-click="setPage()">
										<a href ng-bind="n + 1">1</a>
									</li>
									-->
									<div ng-class="{disabled: widget.currentPage == widget.pagedItems.length - 1}" style="margin-right:20px;">
										<a href ng-click="nextPage2(widget.idWidget)">Next »</a>
									</div>
									<div ng-class="{disabled: widget.currentPage == widget.pagedItems.length - 1}" style="margin-right:20px;">
										<a href ng-click="lastPage2(widget.idWidget)">Last</a>
									</div>
								</div>
							</div>
			
							<table class="table table-striped table-condensed table-hover">
                
								<tbody>
									<tr>
										<td colspan="{{widget.nbCol}}">
											<div class="scrollit">
												<table class="friends">
													<tr>
														<th ng-repeat="sel in selecteds | limitTo: widget.nbCol" width="200" class="widget.keys[sel]">
															{{widget.keys[sel]}} &nbsp;<a ng-click="sort_by2(widget.keys[sel], widget.idWidget)"><i class="icon-sort">#</i></a>
														</th>
													</tr>
													<tr ng-repeat="value in widget.pagedItems[widget.currentPage] | orderBy:widget.sortingOrder:widget.reverse">
														<td ng-repeat="sel in selecteds | limitTo: widget.nbCol" width="200">
															{{getValuesSimple(widget.keys[sel], value)}}
														</td>  
													</tr>
												</table>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div id="resultsWidg" ng-repeat="widget in listWidgets | filter : {sectionWidget : sectionWidget2}">
				
				<div class="headerWidget">
					<span>{{widget.nomWidget}}</span>
					<button type="button" class="btn btn-info"
						ng-click="openWidget(widget.idWidget, widget.nomWidget, widget.nbCol, widget.idCol, widget.Axes, widget.nbLignes, widget.jsonFile, widget.sectionWidget, widget.jsonName, widget.keys, widget.lignes, widget.values, widget.types, widget.filteredItems, widget.groupedItems, widget.itemsPerPage, widget.pagedItems, widget.currentPage, widget.query, widget.sortingOrder, widget.reverse)"
						data-toggle="modal"
						data-target="#Modifier">
					Modifier
					</button>
				</div>
			
				<div id="flexDisplayNew">
									
					<div id="conteneurNew">
										
						<div class="col-md">
											
							<span><b>Json sélectionné :</b> {{widget.jsonName}}</span>
							<br><br>
									
							<span><b>Section du Widget :</b> {{widget.sectionWidget}}</span>
							<br><br>
											
							<span><b>Premier axe :</b> {{widget.keys[widget.Axes[0]]}}</span>
							<br><br>
							
							<span><b>Deuxième axe :</b> {{widget.keys[widget.Axes[1]]}}</span>
										
							<!-- <span><b>Axes supplémentaires<br>(5 maximum) :</b><br><br></span> -->

						</div>
												
					</div>

					<!--
					<div id="conteneur">
						<div>
							Fonction somme par mois : 
							<input type="text" placeholder="Choisissez l'année" ng-model="selectedYear">
							<button ng-click="afficherGrapheTableau()" ng-bind="labelButtonGraphtoTable"></button>
							<br>
							<div id="visualisationContainer2" ng-show="!booleenGrapheTableau && selectedYear">
								<br><br>
								<canvas id="ChartCanvas2">
									{{showCanvas2(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)}}
												
								</canvas>


							</div>
										
							<div ng-show="booleenGrapheTableau && selectedYear">
								<table>
									<tr>
										<th>Mois</th><th>{{keys[selecteds[1]]}}</th>
									</tr>
									<tr ng-repeat="CA in sumValuesByMonth(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)">
										<td>{{ getMonthsNames()[$index] }}</td>
										<td >{{ sumValuesByMonth(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)[$index] }}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					-->
										
					<div id="conteneurNew">
										
						<div>
							<div class="pagination">
								<div id="flexDisplay">
									<div>
										<input type="text" ng-model="widget.query" ng-change="search2(widget.idWidget)" placeholder="Search" style="margin-right:20px;">
									</div>
											
									<div>
										<button ng-click="reinitOrder2(widget.idWidget)" style="margin-right:20px;">=</button>
									</div>
									
									<div>
										<input type="text" ng-model="widget.itemsPerPage" ng-change="search2(widget.idWidget)" placeholder="Items Per Page" size="5" style="margin-right:20px;">
									</div>
								</div>
								<br><br>
								<div id="flexDisplay">
									<div ng-class="{disabled: widget.currentPage == 0}" style="margin-right:20px;">
										<a href ng-click="firstPage2(widget.idWidget)">First</a>
									</div>
									<div ng-class="{disabled: widget.currentPage == 0}" style="margin-right:20px;">
										<a href ng-click="prevPage2(widget.idWidget)">« Prev</a>
									</div>
									<div>
										<input ng-model="widget.currentPage" type="text" placeholder="" size="5" style="margin-right:20px;">
									</div>
									<!--
									<li ng-repeat="n in range(pagedItems.length)"
										ng-class="{active: n == currentPage}"
										ng-click="setPage()">
										<a href ng-bind="n + 1">1</a>
									</li>
									-->
									<div ng-class="{disabled: widget.currentPage == widget.pagedItems.length - 1}" style="margin-right:20px;">
										<a href ng-click="nextPage2(widget.idWidget)">Next »</a>
									</div>
									<div ng-class="{disabled: widget.currentPage == widget.pagedItems.length - 1}" style="margin-right:20px;">
										<a href ng-click="lastPage2(widget.idWidget)">Last</a>
									</div>
								</div>
							</div>
			
							<table class="table table-striped table-condensed table-hover">
                
								<tbody>
									<tr>
										<td colspan="{{widget.nbCol}}">
											<div class="scrollit">
												<table class="friends">
													<tr>
														<th ng-repeat="sel in selecteds | limitTo: widget.nbCol" width="200" class="widget.keys[sel]">
															{{widget.keys[sel]}} &nbsp;<a ng-click="sort_by2(widget.keys[sel], widget.idWidget)"><i class="icon-sort">#</i></a>
														</th>
													</tr>
													<tr ng-repeat="value in widget.pagedItems[widget.currentPage] | orderBy:widget.sortingOrder:widget.reverse">
														<td ng-repeat="sel in selecteds | limitTo: widget.nbCol" width="200">
															{{getValuesSimple(widget.keys[sel], value)}}
														</td>  
													</tr>
												</table>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal

			Ajouter un widget

		-->
		<div class="modal fade" id="Ajout" role="dialog" style="width:100%;">
		
			<div class="modal-dialog" style="width:100%; height:95%;">

				<!-- Modal content-->
				<div class="modal-content" style="width:100%; height:95%;">
				
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" ng-click="closeWidget()">&times;</button>
						<h4 class="modal-title">Ajouter un Widget</h4>
					</div>
					
					<div class="modal-body" style="width:100%;">
					
						<form>
							<div id="flexDisplay">
									
								<div id="conteneur" style="margin: 0;">
										
									<div class="col-md-8">
											
										<form method="POST" enctype="multipart/form-data">
											<input id="selectedFile" type="file" ng-model="selectedJson" read-text="onFileSelect($files)" style="display: none;">
											<input type="button" value="Choix du JSON" onclick="document.getElementById('selectedFile').click();"/>
											<span>Json sélectionné : {{jsonFileName}}</span>
										</form>
										<br>
										<i ng-hide="jsonSrc">Aucun json sélectionné</i>
										
										<span ng-show="jsonSrc"><b>Nom du Widget :</b></span>
										<input ng-show="jsonSrc" ng-model="widgetName" type="text" placeholder="">
										<br>
									
										<span ng-show="jsonSrc"><b>Section du Widget :</b></span>
										<select ng-show="jsonSrc" ng-model="sectionWidget" ng-init="sectionWidget = listeSection[0]" ng-options="option for option in listeSection">
										</select>
											
										<br>
											
										<span><b ng-show="jsonSrc">Choisir le premier axe :</b></span> 
										<select ng-show="jsonSrc" ng-model="selecteds[0]" ng-options="keys.indexOf(key) as key for key in keys">
										</select>
										<!-- <span ng-show="types[selecteds[0]]"> Type du premier axe : {{types[selecteds[0]]}}</span> -->
												
										<br>
												
										<span><b ng-show="jsonSrc">Choisir le second axe :</b></span> 
										<select ng-show="jsonSrc" ng-model="selecteds[1]" ng-options="keys.indexOf(key2) as key2 for key2 in keys">
										</select>
										
										<!-- <span ng-show="types[selecteds[1]]">Type du second axe : {{types[selecteds[1]]}}</span> -->
										
										<br>
										
										<span ng-show="jsonSrc"><b>Axes supplémentaires<br>(5 maximum) :</b><br><br></span>
										
										<addbuttonsbutton></addbuttonsbutton>
										
										<br><br>
										
										<div ng-switch on="colCount>=3">
											<select id='divselecteds[2]' ng-switch-when="true" ng-model='selecteds[2]' ng-options='keys.indexOf(key) as key for key in keys'></select>
										</div>
										
										<div ng-switch on="colCount>=4">
											<select id='divselecteds[3]' ng-switch-when="true" ng-model='selecteds[3]' ng-options='keys.indexOf(key) as key for key in keys'></select>
										</div>
										
										<div ng-switch on="colCount>=5">
											<select id='divselecteds[4]' ng-switch-when="true" ng-model='selecteds[4]' ng-options='keys.indexOf(key) as key for key in keys'></select>
										</div>
										
										<div ng-switch on="colCount>=6">
											<select id='divselecteds[5]' ng-switch-when="true" ng-model='selecteds[5]' ng-options='keys.indexOf(key) as key for key in keys'></select>
										</div>
										
										<div ng-switch on="colCount>=7">
											<select id='divselecteds[6]' ng-switch-when="true" ng-model='selecteds[6]' ng-options='keys.indexOf(key) as key for key in keys'></select>
										</div>
										
										<br>
										<center><button ng-show="jsonSrc" class="btn btn-success" ng-click="widgetAdd(widgetName, colCount, uniqId, selecteds, display_limit1, jsonSrc, sectionWidget, jsonFileName, keys, lignes, values, types, filteredItems, groupedItems, itemsPerPage, pagedItems, currentPage, query, sortingOrder, reverse)" data-dismiss="modal">
											Ajouter Widget
										</button></center>

									</div>
												
								</div>

								<div id="conteneur">
									<div ng-show="types[selecteds[0]]=='date' && selecteds[1] ">
										Fonction somme par mois : 
										<input type="text" placeholder="Choisissez l'année" ng-model="selectedYear">
										<button ng-click="afficherGrapheTableau()" ng-bind="labelButtonGraphtoTable"></button>
										<br>
										<div id="visualisationContainer1" ng-show="!booleenGrapheTableau && selectedYear">
											<br><br>
											<canvas id="1">
												{{showCanvas(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear,'1')}}
												
											</canvas>


										</div>
										<div ng-show="booleenGrapheTableau && selectedYear">
											<table>
												<tr>
													<th>Mois</th><th>{{keys[selecteds[1]]}}</th>
												</tr>
												<tr ng-repeat="CA in sumValuesByMonth(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)">
													<td>{{ getMonthsNames()[$index] }}</td>
													<td >{{ sumValuesByMonth(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)[$index] }}</td>
												</tr>
											</table>
									</div>
									</div>
								</div>
										
								<div id="conteneur" ng-show="keys[selecteds[0]] && keys[selecteds[1]]">
										
									<div>
										<div id="flexDisplay">
											<div>
												<input type="text" ng-model="query" ng-change="search()" placeholder="Search" style="margin-right:20px;">
											</div>
											
											<div>
												<button ng-click="reinitOrder()" style="margin-right:20px;">=</button>
											</div>
											
											<div>
												<input type="text" ng-model="itemsPerPage" ng-change="search()" placeholder="Items Per Page" size="5" style="margin-right:20px;">
											</div>
										</div>
										<div class="pagination">
											<div id="flexDisplay">
												<div ng-class="{disabled: currentPage == 0}" style="margin-right:20px;">
													<a href ng-click="firstPage()">First</a>
												</div>
												<div ng-class="{disabled: currentPage == 0}" style="margin-right:20px;">
													<a href ng-click="prevPage()">« Prev</a>
												</div>
												<div>
													<input ng-model="currentPage" type="text" placeholder="" size="5" style="margin-right:20px;">
												</div>
												<!--
												<li ng-repeat="n in range(pagedItems.length)"
													ng-class="{active: n == currentPage}"
												ng-click="setPage()">
													<a href ng-bind="n + 1">1</a>
												</li>
												-->
												<div ng-class="{disabled: currentPage == pagedItems.length - 1}" style="margin-right:20px;">
													<a href ng-click="nextPage()">Next »</a>
												</div>
												<div ng-class="{disabled: currentPage == pagedItems.length - 1}" style="margin-right:20px;">
													<a href ng-click="lastPage()">Last</a>
												</div>
											</div>
										</div>
										
										<table class="table table-striped table-condensed table-hover">
											<tbody>
												<tr>
													<td colspan="{{colCount}}">
														<div class="scrollit">
															<table class="friends">
																	<tr>
																		<th ng-repeat="sel in selecteds | limitTo: colCount" width="200" class="keys[sel]">
																			{{keys[sel]}} &nbsp;<a ng-click="sort_by(keys[sel])"><i class="icon-sort">#</i></a>
																		</th>
																	</tr>
																	<tr ng-repeat="value in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
																		<td ng-repeat="sel in selecteds | limitTo: colCount" width="200">
																			{{getValuesSimple(keys[sel], value)}}
																		</td>  
																	</tr>
																</table>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
											
									</div>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>

		<!-- Modal

                    modifier un widget

                -->
		<div class="modal fade" id="Modifier" role="dialog" style="width:100%;">

			<div class="modal-dialog" style="width:100%; height:575px;">

				<!-- Modal content-->
				<div class="modal-content" style="width:100%; height:575px;">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" ng-click="closeWidget()">&times;</button>
						<h4 class="modal-title">Modifier un Widget</h4>
					</div>

					<div class="modal-body" style="width:100%;">
					
						<form>
							<div id="flexDisplay">
									
								<div id="conteneur" style="margin: 0;">
										
									<div class="col-md-8">
											
										<form method="POST" enctype="multipart/form-data">
											<input id="selectedFile" type="file" ng-model="selectedJson" read-text="onFileSelect($files)" style="display: none;">
											<input type="button" value="Choix du JSON" onclick="document.getElementById('selectedFile').click();"/>
											<span>Json sélectionné : {{jsonFileName}}</span>
										</form>
										<br>
										<i ng-hide="jsonSrc">Aucun json sélectionné</i>
										
										<span ng-show="jsonSrc"><b>Nom du Widget :</b></span>
										<input ng-show="jsonSrc" ng-model="widgetName" type="text" placeholder="">
										<br>
									
										<span ng-show="jsonSrc"><b>Section du Widget :</b></span>
										<select ng-show="jsonSrc" ng-model="sectionWidget" ng-init="sectionWidget = listeSection[0]" ng-options="option for option in listeSection">
										</select>
											
										<br>
											
										<span><b ng-show="jsonSrc">Choisir le premier axe :</b></span> 
										<select ng-show="jsonSrc" ng-model="selecteds[0]" ng-options="keys.indexOf(key) as key for key in keys">
										</select>
										<!-- <span ng-show="types[selecteds[0]]"> Type du premier axe : {{types[selecteds[0]]}}</span> -->
												
										<br>
												
										<span><b ng-show="jsonSrc">Choisir le second axe :</b></span> 
										<select ng-show="jsonSrc" ng-model="selecteds[1]" ng-options="keys.indexOf(key2) as key2 for key2 in keys">
										</select>
										
										<!-- <span ng-show="types[selecteds[1]]">Type du second axe : {{types[selecteds[1]]}}</span> -->
										
										<br>
										
										<span ng-show="jsonSrc"><b>Axes supplémentaires<br>(5 maximum) :</b><br><br></span>
										
										<addbuttonsbutton></addbuttonsbutton>
										
										<br><br>
										
										<div ng-switch on="colCount>=3">
											<select id='divselecteds[2]' ng-switch-when="true" ng-model='selecteds[2]' ng-options='keys.indexOf(key) as key for key in keys'></select>
										</div>
										
										<div ng-switch on="colCount>=4">
											<select id='divselecteds[3]' ng-switch-when="true" ng-model='selecteds[3]' ng-options='keys.indexOf(key) as key for key in keys'></select>
										</div>
										
										<div ng-switch on="colCount>=5">
											<select id='divselecteds[4]' ng-switch-when="true" ng-model='selecteds[4]' ng-options='keys.indexOf(key) as key for key in keys'></select>
										</div>
										
										<div ng-switch on="colCount>=6">
											<select id='divselecteds[5]' ng-switch-when="true" ng-model='selecteds[5]' ng-options='keys.indexOf(key) as key for key in keys'></select>
										</div>
										
										<div ng-switch on="colCount>=7">
											<select id='divselecteds[6]' ng-switch-when="true" ng-model='selecteds[6]' ng-options='keys.indexOf(key) as key for key in keys'></select>
										</div>
										
										<br>
										<center>
											<button ng-show="jsonSrc" class="btn btn-success"
													ng-click="widgetMod(widgetName, colCount, uniqId, selecteds, display_limit1, jsonSrc, sectionWidget, jsonFileName, keys, lignes, values, types, filteredItems, groupedItems, itemsPerPage, pagedItems, currentPage, query, sortingOrder, reverse)"
													data-dismiss="modal">Sauvegarder Widget</button>
										</center>

									</div>
												
								</div>

								<div id="conteneur">
									<div ng-show="types[selecteds[0]]=='date' && selecteds[1] ">
										Fonction somme par mois : 
										<input type="text" placeholder="Choisissez l'année" ng-model="selectedYear">
										<button ng-click="afficherGrapheTableau()" ng-bind="labelButtonGraphtoTable"></button>
										<br>
										<div id="visualisationContainer2" ng-show="!booleenGrapheTableau && selectedYear">
											<br><br>
											<canvas id="2">
												{{showCanvas(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear,"2")}}
												
											</canvas>


										</div>
										
										<div ng-show="booleenGrapheTableau && selectedYear">
											<table>
												<tr>
													<th>Mois</th><th>{{keys[selecteds[1]]}}</th>
												</tr>
												<tr ng-repeat="CA in sumValuesByMonth(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)">
													<td>{{ getMonthsNames()[$index] }}</td>
													<td >{{ sumValuesByMonth(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)[$index] }}</td>
												</tr>
											</table>
									</div>
									</div>
								</div>
										
								<div id="conteneur" ng-show="keys[selecteds[0]] && keys[selecteds[1]]">
										
									<div>
										<div id="flexDisplay">
											<div>
												<input type="text" ng-model="query" ng-change="search()" placeholder="Search" style="margin-right:20px;">
											</div>
											
											<div>
												<button ng-click="reinitOrder()" style="margin-right:20px;">=</button>
											</div>
											
											<div>
												<input type="text" ng-model="itemsPerPage" ng-change="search()" placeholder="Items Per Page" size="5" style="margin-right:20px;">
											</div>
										</div>
										<div class="pagination">
											<div id="flexDisplay">
												<div ng-class="{disabled: currentPage == 0}" style="margin-right:20px;">
													<a href ng-click="firstPage()">First</a>
												</div>
												<div ng-class="{disabled: currentPage == 0}" style="margin-right:20px;">
													<a href ng-click="prevPage()">« Prev</a>
												</div>
												<div>
													<input ng-model="currentPage" type="text" placeholder="" size="5" style="margin-right:20px;">
												</div>
												<!--
												<li ng-repeat="n in range(pagedItems.length)"
													ng-class="{active: n == currentPage}"
												ng-click="setPage()">
													<a href ng-bind="n + 1">1</a>
												</li>
												-->
												<div ng-class="{disabled: currentPage == pagedItems.length - 1}" style="margin-right:20px;">
													<a href ng-click="nextPage()">Next »</a>
												</div>
												<div ng-class="{disabled: currentPage == pagedItems.length - 1}" style="margin-right:20px;">
													<a href ng-click="lastPage()">Last</a>
												</div>
											</div>
										</div>
										
										<table class="table table-striped table-condensed table-hover">
											<tbody>
												<tr>
													<td colspan="{{colCount}}">
														<div class="scrollit">
															<table class="friends">
																	<tr>
																		<th ng-repeat="sel in selecteds | limitTo: colCount" width="200" class="keys[sel]">
																			{{keys[sel]}} &nbsp;<a ng-click="sort_by(keys[sel])"><i class="icon-sort">#</i></a>
																		</th>
																	</tr>
																	<tr ng-repeat="value in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
																		<td ng-repeat="sel in selecteds | limitTo: colCount" width="200">
																			{{getValuesSimple(keys[sel], value)}}
																		</td>  
																	</tr>
																</table>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
											
									</div>
								</div>
							</div>
						</form>

					</div>
					
				</div>
			</div>
		</div>

		<!-- Modal

		 	Supprimer

		 -->
		<div class="modal fade" id="Supprimer" role="dialog">
		
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
				
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Supprimer un Widget</h4>
					</div>
					
					<div class="modal-body">

						<form role="form" action="#">

							<p>Choisir les Widgets à supprimer :</p>
							<table border="1">
								<tr>
									<td>Liste des Widgets</td>
									<td>Supprimer</td>
								</tr>
								<tr ng-repeat="widget in listWidgets">
									<td>
										<b>Nom : </b>{{widget.nomWidget}}
										<br>
										<b>Section : </b>{{widget.sectionWidget}}
									</td>
									<td><input type="checkbox" ng-click="checkBoxClick($index)"/></td>
								</tr>
							</table>

						</form>
					</div>
					
					<div class="modal-footer">
						<button class="btn btn-success" ng-click="widgetDelete()" data-dismiss="modal">Supprimer</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Quitter</button>
					</div>
				</div>
			</div>
		</div>

	</body>
		
</html>