@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

#conteneur {
  width :33%;
  display:flex;
  flex-direction: row;
}

#flexDisplay {
  width :100%;
  display:flex;
}

#flexDisplay2 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

tbody div {
	width:500px;
	height:400px;
    overflow:scroll;
}

.friends {
  border-collapse: collapse;
}

.friends th {
  border-bottom: 1px solid;
}
.friends td, .friends th {
  border-left: 1px solid;
  padding: 5px 10px;
}
.friends td:first-child, .friends th:first-child {
  border-left: none;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

.offiTitle {

	display: block; 
	color: rgb(0,80,80); 
	text-align: center; 
	padding: 14px 16px; 
	text-decoration: none;	
}

.flexDisplayHoriz {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: grey;
}

.flexDisplayVert {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center; 
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(128,128,128); 
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	color: white;
	text-decoration: none;
	background-color: rgb(169,169,169);
}

#droit {
	float: right;
}

/* Custom CSS Styles */
#droit {
	width: 200px;
}

#droit ul a,

#droit ul a:link,

#droit ul a:visited {
	display: block;
	color: #848889;
	text-decoration: none;
	font-weight: 200;
}

#droit ul {
	background: #fff;
}

#droit > ul > li {
	border-left: 3px solid #d7d8da;
}

#droit > ul > li > a {
	padding: 10px 20px;
}

#droit > ul > li:hover {
	border-left: 3px solid #3dbd99;
}

#droit ul li:hover > a {
	color: #3dbd99;
}

#droit > ul > li:hover {
	background: #f6f6f6;
}

#contenu {
	color: #363B29;
}

#contenu a {
	color: #332510;
}

#contenu a:hover, #contenu a:focus {
	color: #6E5122;
}

#contenu strong {
	color: #181A12;
}

#cssmenu,

#cssmenu ul,

#cssmenu ul li,

#cssmenu ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

#cssmenu ul {
	position: relative;
	z-index: 597;
	float: left;
}

#cssmenu ul li {
	float: left;
	min-height: 1px;
	line-height: 1em;
	vertical-align: middle;
}

#cssmenu ul li.hover,

#cssmenu ul li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}

#cssmenu ul ul {
	margin-top: 1px;
	visibility: hidden;
	position: absolute;
	top: 1px;
	left: 99%;
	z-index: 598;
	width: 100%;
}

#cssmenu ul ul li {
	float: none;
}

#cssmenu ul ul ul {
	top: 1px;
	left: 99%;
}

#cssmenu ul li:hover > ul {
	visibility: visible;
}

#cssmenu ul li {
	float: none;
}

#cssmenu ul ul li {
	font-weight: normal;
}

#cssmenu {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	width: 200px;
}

#cssmenu ul a,

#cssmenu ul a:link,

#cssmenu ul a:visited {
	display: block;
	color: #848889;
	text-decoration: none;
	font-weight: 300;
}

#cssmenu > ul {
	float: none;
}

#cssmenu ul {
	background: #fff;
}

#cssmenu > ul > li {
	border-left: 3px solid #d7d8da;
}

#cssmenu > ul > li > a {
	padding: 10px 20px;
}

#cssmenu > ul > li:hover {
	border-left: 3px solid #3dbd99;
}

#cssmenu ul li:hover > a {
	color: #3dbd99;
}

#cssmenu > ul > li:hover {
	background: #f6f6f6;
}
