ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(128,128,128); 
}
#droit {
	float: right;
}
/* Custom CSS Styles */
#droit {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	width: 200px;
}
#droit ul a,
#droit ul a:link,
#droit ul a:visited {
	display: block;
	color: #848889;
	text-decoration: none;
	font-weight: 200;
}

#droit ul {
	background: #fff;
}

#droit > ul > li {
	border-left: 3px solid #d7d8da;
}
#droit > ul > li > a {
	padding: 10px 20px;
}
#droit > ul > li:hover {
	border-left: 3px solid #3dbd99;
}
#droit ul li:hover > a {
	color: #3dbd99;
}


#droit > ul > li:hover {
	background: #f6f6f6;
}


li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(237,237,237);
}

/* Contenu principal */
#contenu {
	color: #363B29;
	background: #cbd888;
}
#contenu a {
	color: #332510;
}
#contenu a:hover, #contenu a:focus {
	color: #6E5122;
}
#contenu strong {
	color: #181A12;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}
#cssmenu ul {
	position: relative;
	z-index: 597;
	float: left;
}
#cssmenu ul li {
	float: left;
	min-height: 1px;
	line-height: 1em;
	vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}
#cssmenu ul ul {
	margin-top: 1px;
	visibility: hidden;
	position: absolute;
	top: 1px;
	left: 99%;
	z-index: 598;
	width: 100%;
}
#cssmenu ul ul li {
	float: none;
}
#cssmenu ul ul ul {
	top: 1px;
	left: 99%;
}
#cssmenu ul li:hover > ul {
	visibility: visible;
}
#cssmenu ul li {
	float: none;
}
#cssmenu ul ul li {
	font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	width: 200px;
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
	display: block;
	color: #848889;
	text-decoration: none;
	font-weight: 300;
}
#cssmenu > ul {
	float: none;
}
#cssmenu ul {
	background: #fff;
}
#cssmenu > ul > li {
	border-left: 3px solid #d7d8da;
}
#cssmenu > ul > li > a {
	padding: 10px 20px;
}
#cssmenu > ul > li:hover {
	border-left: 3px solid #3dbd99;
}
#cssmenu ul li:hover > a {
	color: #3dbd99;
}
#cssmenu > ul > li:hover {
	background: #f6f6f6;
}
