.checkboxdemoBasicUsage div.flex-xs {
  min-height: 40px; }

.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }

.checkboxdemoBasicUsage p {
  padding-left: 8px; }

.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }

.checkboxdemoBasicUsage legend {
  color: #3F51B5; }

.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }

.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }
  
.expander {
    border: 1px solid rgb(20, 20, 200); 
    width: 360px;
}

.expander > .title { 
    background-color: rgb(20, 20, 200); color: white;
    padding: .1em .3em; cursor: pointer;
}

.expander > .body {
    padding: .1em .3em; 
}

.menudemoMenuPositionModes .md-menu-demo {
  padding: 24px; }

.menudemoMenuPositionModes .menu-demo-container {
  min-height: 200px; }
  
.md-open-menu-container.md-active{
  top: 45px !important;
}

#conteneur {
  width :25%;
  display:flex;
  flex-direction: row;
}

#flexDisplay {
  width :100%;
  display:flex;
}

#flexDisplay2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

tbody div{
    overflow:scroll;
    height:400px;
}