<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Personnaliser</title>
    <link href="dropdown-menu.css" media="screen" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $(function(){
            $("#includedAjout").load("ajouter-widgets.html");
            $("#includedModifier").load("modifier-widgets.html");
            $("#includedmenu").load("menu.html");
            $("#includedSupprimer").load("supprimer.html");
        });
    </script>
</head>
<script src= "http://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl">

<script>//un controlleur todoCtrl avec 3fonction
var app = angular.module('myApp', []);
app.controller('todoCtrl', function($scope) {
    $scope.todoList = [{todoText:'Axe X', done:false},{todoText:'Axe Y', done:false}];

    $scope.todoAdd = function() {
        $scope.todoInput = "Axe";
        $scope.todoList.push({todoText:$scope.todoInput, done:false});

    };

    $scope.remove = function() {
        var oldList = $scope.todoList;
        $scope.todoList = []; //initialiser la liste
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.todoList.push(x); //si x n'est pas coche, alors le ajouter dans le list
        });
    };
});
</script>


<div id="includedmenu"></div>

<div id="contenu">
    <img>graphe1</img>
    <img>graphe2</img>
</div>



<!-- Modal -->
<div class="modal fade" id="Ajout" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajouter un widget</h4>
            </div>
            <div class="modal-body">
                <p>selectionner un fichier：</p>
                <form>
                    <input type="file" read-text="onFileSelect($files)" >
                    <!-- <input type="file" ng-file-select="onFileSelect($files)" multiple> -->
                </form>
                <br/>


                <form role="form">
                    <p>axe </p>


                    <p><button ng-click="todoAdd()">ajouter</button></p>

                    <br>


                    <div ng-repeat="x in todoList">
                        <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
                    </div>

                    <p><button ng-click="remove()">supprimer</button></p>

                    <p>Graphes proposés</p>
                    <select>
                        <option value ="Camembert">Camembert </option>
                        <option value ="histogramme">histogramme</option>
                        <option value="Diagramme">Diagramme en bâton</option>
                        <option value="Nuage">Nuage de points</option>
                    </select>

                    <p>Choisir la section du graphe</p>
                    <select>
                        <option value ="Ventes">Ventes </option>
                        <option value ="Achats">Achats</option>
                        <option value="Cients">Cients</option>
                        <option value="Collectivités">Collectivités</option>
                        <option value="Operateurs">Operateurs</option>
                        <option value="Produits">Produits</option>
                    </select>


                    <button type="submit" class="btn btn-success btn-block"> Ajouter</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="includedModifier"></div>

<div id="includedSupprimer"></div>





</body>
</html>