<!DOCTYPE html>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OffiBoard - Personnaliser</title>
<link rel="icon" type="image/png" href="img/favicon.png" />
<Context path='/myApplicationContext' cookies='false'> </Context>

<!-- Bootstraps -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- ChartJS-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

<link rel="stylesheet" href="css/style.css" />
<script data-require="angular.js@1.0.x"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"
	data-semver="1.0.8"></script>

<!-- Dates en français -->
<script src="js/angular-locale_fr-fr.js"></script>

<script> 
			var app = angular.module('TestUploadFile', []);
		</script>

<script src="js/upload.js"></script>
<script src="js/app.js"></script>
</head>

<body ng-app="TestUploadFile" ng-controller="JsonUploadController">

	<div class="navigation">
		<ul class="nav-main">
			<li class="offiTitle">OffiBoard</li>
			<li><a href="index.html">Accueil</a></li>
			<li><a href="#">Ventes</a></li>
			<li><a href="#">Achats</a></li>
			<li><a href="#">Clients</a></li>
			<li><a href="#">Collectivités</a></li>
			<li><a href="#">Opérateurs</a></li>
			<li><a href="#">Produits</a></li>
			<li><a href="personnaliser.html">Personnaliser</a></li>
		</ul>
	</div>

	<h3 style="text-align: center;">
		<span>Liste des Widgets</span>
	</h3>

	<br />
	<br />

	<div id="droit"
		style="float: left; position: fixed; padding-left: 2px;">
		<button type="button" class="btn btn-success" data-toggle="modal"
			data-target="#Ajout" style="margin-bottom: 3px">Ajouter un
			Widget</button>
			
		<br /><br />
			
		<span><b>Filtrer par section :</b></span>

		<select ng-model="sectionWidget2"
			ng-init="sectionWidget2 = listeSection2[0]"
			ng-options="option for option in listeSection2"></select>
	</div>

	<!-- Affichage des Widgets -->
	<div id="flexDisplay2" class="container">

		<div id="resultsWidg"
			ng-repeat="widget in listWidgets | bySection:sectionWidget2">

			<div class="headerWidget">
				<span>{{widget.nomWidget}}</span>
				<button type="button" class="btn btn-info"
					ng-click="openWidget(widget.idWidget, widget.nomWidget, widget.nbCol,
					 widget.idCol, widget.Axes, widget.nbLignes, widget.jsonFile,
					  widget.sectionWidget, widget.jsonName, widget.keys, widget.lignes,
					   widget.values, widget.types, widget.filteredItems, widget.groupedItems,
					    widget.itemsPerPage, widget.pagedItems, widget.currentPage, widget.query,
					     widget.sortingOrder, widget.reverse, widget.labelButtonGraphToTable,
					     widget.booleenGrapheTableau, widget.selectedYear)"
					data-toggle="modal" data-target="#Modifier">Modifier</button>
				<button type="button" class="btn btn-danger"
					ng-click="widgetDeleteFromDb(widget.idWidget, widget.nomWidget, widget.nbCol,
					 widget.idCol, widget.Axes, widget.nbLignes, widget.jsonFile, widget.sectionWidget,
					  widget.jsonName, widget.keys, widget.lignes, widget.values, widget.types,
					   widget.filteredItems, widget.groupedItems, widget.itemsPerPage, widget.pagedItems,
					    widget.currentPage, widget.query, widget.sortingOrder, widget.reverse,
					     widget.labelButtonGraphToTable, widget.booleenGrapheTableau, 
					     widget.selectedYear)">
					Supprimer</button>
			</div>

			<div id="flexDisplayNew">

				<div id="conteneurNew">

					<div class="col-md">

						<br /> <span><b>Fichier : </b>{{widget.jsonName}}</span> <br />
						<br /> <span><b>Section du Widget : </b>{{widget.sectionWidget}}</span>

						<br /> <br /> <span><b>1er axe :</b>
							{{widget.keys[widget.Axes[0]]}}</span> <br /> <br /> <span><b>2ème
								axe :</b> {{widget.keys[widget.Axes[1]]}}</span> <br /> <br /> <span><b>3ème
								axe :</b> {{widget.keys[widget.Axes[2]]}}</span> <br /> <br /> <span><b>4ème
								axe :</b> {{widget.keys[widget.Axes[3]]}}</span> <br /> <br /> <span><b>5ème
								axe :</b> {{widget.keys[widget.Axes[4]]}}</span> <br /> <br /> <span><b>6ème
								axe :</b> {{widget.keys[widget.Axes[5]]}}</span> <br /> <br /> <span><b>7ème
								axe :</b> {{widget.keys[widget.Axes[6]]}}</span>

					</div>

				</div>

				<div id="conteneur">
					<div
						ng-show="widget.types[widget.Axes[0]] == 'date' && widget.Axes[1] ">
						Fonction somme par mois : <input type="text"
							placeholder="Choisissez l'année" ng-model="widget.selectedYear" />
						<input type="button"
							ng-click="afficherGrapheTableauDb(widget.idWidget)"
							value="{{widget.labelButtonGraphtoTable}}" /> <br />

						<div id="visualisationContainer1" style="position: relative; height: 50vh"
							ng-show="!widget.booleenGrapheTableau && widget.selectedYear">
							<br /> <br />
							<canvas id="visu{{widget.idWidget}}" 
								ng-bind="showCanvasDb(widget.keys[widget.Axes[0]].toString(),widget.keys[widget.Axes[1]].toString(),widget.selectedYear,widget.lignes, widget.idWidget)">
								</canvas>

						</div>
						<div ng-show="widget.booleenGrapheTableau && widget.selectedYear">
							<table>
								<tr>
									<th>Mois</th>
									<th>{{widget.keys[widget.Axes[1]]}}</th>
								</tr>
								<tr
									ng-repeat="CA in sumValuesByMonthDb(widget.keys[widget.Axes[0]].toString(),widget.keys[widget.Axes[1]].toString(),widget.selectedYear, widget.lignes)">
									<td>{{ getMonthsNames()[$index] }}</td>
									<td>{{
										sumValuesByMonthDb(widget.keys[widget.Axes[0]].toString(),widget.keys[widget.Axes[1]].toString(),widget.selectedYear,
										widget.lignes)[$index] }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div id="conteneurNew2">

					<div>
						<div class="pagination"
							style="display: flex; flex-direction: column; justify-content: center">
							<div id="flexDisplay" style="justify-content: center;">
								<div>
									<input type="text" ng-model="widget.query"
										ng-change="search2(widget.idWidget)" placeholder="Search"
										size="12" style="margin-right: 20px;" />
								</div>

								<div>
									<input type="button" class="btn btn-warning btn-sm"
										value="Filter OFF" ng-click="reinitOrder2(widget.idWidget)"
										style="margin-right: 20px;" />
								</div>

								<div>
									<input type="text" ng-model="widget.itemsPerPage"
										ng-change="search2(widget.idWidget)"
										placeholder="Items Per Page" size="1"
										style="text-align: center; margin-right: 5px;" />
								</div>

								<div>
									<span>items par page</span>
								</div>
							</div>

							<br /> <br />

							<div id="flexDisplay" style="justify-content: center;">
								<div ng-class="{disabled: widget.currentPage == 0}"
									style="margin-right: 20px;">
									<a ng-click="firstPage2(widget.idWidget)">First</a>
								</div>
								<div ng-class="{disabled: widget.currentPage == 0}"
									style="margin-right: 20px;">
									<a ng-click="prevPage2(widget.idWidget)">« Prev</a>
								</div>
								<div>
									<input ng-model="widget.currentPage" type="text"
										style="text-align: center; margin-right: 20px;" placeholder=""
										size="1" />
								</div>

								<div
									ng-class="{disabled: widget.currentPage == widget.pagedItems.length - 1}"
									style="margin-right: 20px;">
									<a ng-click="nextPage2(widget.idWidget)">Next »</a>
								</div>
								<div
									ng-class="{disabled: widget.currentPage == widget.pagedItems.length - 1}"
									style="margin-right: 20px;">
									<a ng-click="lastPage2(widget.idWidget)">Last</a>
								</div>
							</div>
						</div>

						<table class="table table-striped table-condensed table-hover">

							<tbody>
								<tr>
									<td colspan="{{widget.nbCol}}">
										<div class="scrollit">
											<table class="friends">
												<tr>
													<th ng-repeat="sel in widget.Axes | limitTo: widget.nbCol"
														width="200" class="widget.keys[sel]">
														{{widget.keys[sel]}} &nbsp;<a
														ng-click="sort_by2(widget.keys[sel], widget.idWidget)"><i
															class="icon-sort"><img type="image/png"
																src="img/chevron.png" width="10" heigth="10"></img></i></a>
													</th>
												</tr>
												<tr
													ng-repeat="value in widget.pagedItems[widget.currentPage] | orderBy:widget.sortingOrder:widget.reverse">
													<td ng-repeat="sel in widget.Axes | limitTo: widget.nbCol"
														width="200">{{getValuesSimple(widget.keys[sel],
														value)}}</td>
												</tr>
											</table>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal : Ajouter un Widget -->
	<div class="modal fade" id="Ajout" role="dialog" style="width: 100%;">

		<div class="modal-dialog" style="width: 100%; height: 575px;">

			<div class="modal-content" style="width: 100%; height: 575px;">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="closeWidget()">&times;</button>
					<h4 class="modal-title">Ajouter un Widget</h4>
				</div>

				<div class="modal-body" style="width: 100%;">

					<div id="flexDisplay">

						<div id="conteneur" style="margin: 0;">

							<div class="col-md-8">

								<input id="selectedFile" type="file" ng-model="selectedJson"
									read-text="onFileSelect($files)" style="display: none;" /> <input
									type="button" value="Choix du JSON"
									onclick="document.getElementById('selectedFile').click();" />
								<span>Json sélectionné : {{jsonFileName}}</span> <br /> <i
									ng-hide="jsonSrc">Aucun json sélectionné</i> <span
									ng-show="jsonSrc"><b>Nom du Widget :</b></span> <input
									name="nomWidget" ng-show="jsonSrc" ng-model="widgetName"
									type="text" placeholder="" /> <br /> <span ng-show="jsonSrc"><b>Section
										du Widget :</b></span> <select ng-show="jsonSrc" ng-model="sectionWidget"
									ng-init="sectionWidget = listeSection[0]"
									ng-options="option for option in listeSection"
									name="sectionWidget">
								</select> <br /> <span><b ng-show="jsonSrc">Choisir le
										premier axe :</b></span> <select name="axe0" ng-show="jsonSrc"
									ng-model="selecteds[0]"
									ng-options="keys.indexOf(key) as key for key in keys">
								</select> <br /> <span><b ng-show="jsonSrc">Choisir le second
										axe :</b></span> <select name="axe1" ng-show="jsonSrc"
									ng-model="selecteds[1]"
									ng-options="keys.indexOf(key2) as key2 for key2 in keys">
								</select> <br /> <span ng-show="jsonSrc"><b>Axes
										supplémentaires<br />(5 maximum) :
								</b><br /> <br /></span> <input type="button" value="+"
									ng-click="raiseNumber()" ng-show="jsonSrc" /><input
									type="button" value="-" ng-click="reduceNumber()"
									ng-show="jsonSrc" /> <br /> <br />

								<div ng-switch on="colCount>=3">
									<select name="axe2" id='divselecteds[2]' ng-switch-when="true"
										ng-model='selecteds[2]'
										ng-options='keys.indexOf(key) as key for key in keys'></select>
								</div>

								<div ng-switch on="colCount>=4">
									<select name="axe3" id='divselecteds[3]' ng-switch-when="true"
										ng-model='selecteds[3]'
										ng-options='keys.indexOf(key) as key for key in keys'></select>
								</div>

								<div ng-switch on="colCount>=5">
									<select name="axe4" id='divselecteds[4]' ng-switch-when="true"
										ng-model='selecteds[4]'
										ng-options='keys.indexOf(key) as key for key in keys'></select>
								</div>

								<div ng-switch on="colCount>=6">
									<select name="axe5" id='divselecteds[5]' ng-switch-when="true"
										ng-model='selecteds[5]'
										ng-options='keys.indexOf(key) as key for key in keys'></select>
								</div>

								<div ng-switch on="colCount>=7">
									<select name="axe6" id='divselecteds[6]' ng-switch-when="true"
										ng-model='selecteds[6]'
										ng-options='keys.indexOf(key) as key for key in keys'></select>
								</div>

								<br />
								<div style="justify-content: center;">
									<input value="Ajouter Widget" ng-show="jsonSrc"
										class="btn btn-success"
										ng-click="widgetAddToDb(widgetName, colCount, uniqId, selecteds, display_limit1, jsonSrc, sectionWidget, jsonFileName, keys, lignes, values, types, filteredItems, groupedItems, itemsPerPage, pagedItems, currentPage, query, sortingOrder, reverse)"
										data-dismiss="modal" />
								</div>

							</div>

						</div>

						<div id="conteneur">
							<div ng-show="types[selecteds[0]]=='date' && selecteds[1] ">
								Fonction somme par mois : <input type="text"
									placeholder="Choisissez l'année" ng-model="selectedYear" /> <input
									type="button" ng-click="afficherGrapheTableau()"
									value="{{labelButtonGraphtoTable}}" /> <br />
									
								<div id="visualisationContainer" style="position: relative; height: 50vh"
									ng-show="!booleenGrapheTableau && selectedYear">
									<br /> <br />
									<canvas id="visuAjout" 
										ng-bind="showCanvas(keys[selecteds[0]].toString(), keys[selecteds[1]].toString(), selectedYear, 'visuAjout')">
									</canvas>

								</div>
								<div ng-show="booleenGrapheTableau && selectedYear">
									<table>
										<tr>
											<th>Mois</th>
											<th>{{keys[selecteds[1]]}}</th>
										</tr>
										<tr
											ng-repeat="CA in sumValuesByMonth(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)">
											<td>{{ getMonthsNames()[$index] }}</td>
											<td>{{
												sumValuesByMonth(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)[$index]
												}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>

						<div id="conteneurNew2"
							ng-show="keys[selecteds[0]] && keys[selecteds[1]]">

							<div>
							
								<div class="pagination" style="display: flex; flex-direction: column; justify-content: center">
								
									<div id="flexDisplay" style="justify-content: center;">
										<div>
											<input name="query" type="text" ng-model="query"
												ng-change="search()" size="12" placeholder="Search"
												style="margin-right: 20px;" />
										</div>
	
										<div>
											<input type="button" class="btn btn-warning btn-sm"
										value="Filter OFF" ng-click="reinitOrder()"
												style="margin-right: 20px;" />
										</div>
	
										<div>
											<input name="itemsPerPage" type="text" ng-model="itemsPerPage"
												ng-change="search()" placeholder="Items Per Page" size="1"
												style="text-align: center; margin-right: 5px;" />
										</div>
										
										<div>
											<span>items par page</span>
										</div>
									</div>
									
									<br />
									
									<div id="flexDisplay"  style="justify-content: center;">
										<div ng-class="{disabled: currentPage == 0}"
											style="margin-right: 20px;">
											<a ng-click="firstPage()">First</a>
										</div>
										<div ng-class="{disabled: currentPage == 0}"
											style="margin-right: 20px;">
											<a ng-click="prevPage()">« Prev</a>
										</div>
										<div>
											<input name="currentPage" ng-model="currentPage" type="text" style="text-align: center; margin-right: 20px;"
												placeholder="" size="1" style="margin-right: 20px;" />
										</div>

										<div
											ng-class="{disabled: currentPage == pagedItems.length - 1}"
											style="margin-right: 20px;">
											<a ng-click="nextPage()">Next »</a>
										</div>
										<div
											ng-class="{disabled: currentPage == pagedItems.length - 1}"
											style="margin-right: 20px;">
											<a ng-click="lastPage()">Last</a>
										</div>
									</div>
								</div>

								<table class="table table-striped table-condensed table-hover">
									<tbody>
										<tr>
											<td colspan="{{colCount}}">
												<div class="scrollit">
													<table class="friends">
														<tr>
															<th ng-repeat="sel in selecteds | limitTo: colCount"
																width="200" class="keys[sel]">{{keys[sel]}} &nbsp;<a
																ng-click="sort_by(keys[sel])"><i
															class="icon-sort"><img type="image/png"
																src="img/chevron.png" width="10" heigth="10"></img></i></a>
															</th>
														</tr>
														<tr
															ng-repeat="value in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
															<td ng-repeat="sel in selecteds | limitTo: colCount"
																width="200">{{getValuesSimple(keys[sel], value)}}</td>
														</tr>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal : Modifier un Widget -->
	<div class="modal fade" id="Modifier" role="dialog"
		style="width: 100%;">

		<div class="modal-dialog" style="width: 100%; height: 575px;">

			<div class="modal-content" style="width: 100%; height: 575px;">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="closeWidget()">&times;</button>
					<h4 class="modal-title">Modifier un Widget</h4>
				</div>

				<div class="modal-body" style="width: 100%;">

					<div id="flexDisplay">

						<div id="conteneur" style="margin: 0;">

							<div class="col-md-8">

								<input id="selectedFile" type="file" ng-model="selectedJson"
									read-text="onFileSelect($files)" style="display: none;" /> <input
									type="button" value="Choix du JSON"
									onclick="document.getElementById('selectedFile').click();" />
								<span>Json sélectionné : {{jsonFileName}}</span> <br /> <span><b>Nom
										du Widget :</b></span> <input ng-model="widgetName" type="text"
									placeholder="" /> <br /> <span><b>Section du
										Widget :</b></span> <select ng-model="sectionWidget"
									ng-init="sectionWidget = listeSection[0]"
									ng-options="option for option in listeSection">
								</select> <br /> <span><b>Choisir le premier axe :</b></span> <select
									ng-model="selecteds[0]"
									ng-options="keys.indexOf(key) as key for key in keys">
								</select> <br /> <span><b>Choisir le second axe :</b></span> <select
									ng-model="selecteds[1]"
									ng-options="keys.indexOf(key2) as key2 for key2 in keys">
								</select> <br /> <span><b>Axes supplémentaires <br />(5
										maximum) :

								</b> </span> <br /> <br /> <input type="button" value="+"
									ng-click="raiseNumber()" /> <input type="button" value="-"
									ng-click="reduceNumber()" /> <br /> <br /> <br />

								<div ng-switch on="colCount>=3">
									<select name="axe2" id='divselecteds[2]' ng-switch-when="true"
										ng-model='selecteds[2]'
										ng-options='keys.indexOf(key) as key for key in keys'></select>
								</div>

								<div ng-switch on="colCount>=4">
									<select name="axe3" id='divselecteds[3]' ng-switch-when="true"
										ng-model='selecteds[3]'
										ng-options='keys.indexOf(key) as key for key in keys'></select>
								</div>

								<div ng-switch on="colCount>=5">
									<select name="axe4" id='divselecteds[4]' ng-switch-when="true"
										ng-model='selecteds[4]'
										ng-options='keys.indexOf(key) as key for key in keys'></select>
								</div>

								<div ng-switch on="colCount>=6">
									<select name="axe5" id='divselecteds[5]' ng-switch-when="true"
										ng-model='selecteds[5]'
										ng-options='keys.indexOf(key) as key for key in keys'></select>
								</div>

								<div ng-switch on="colCount>=7">
									<select name="axe6" id='divselecteds[6]' ng-switch-when="true"
										ng-model='selecteds[6]'
										ng-options='keys.indexOf(key) as key for key in keys'></select>
								</div>

								<br />

								<div style="justify-content: center;">
									<input value="Sauvegarder Widget" class="btn btn-success"
										ng-click="widgetUpdateToDb(widgetName, colCount, uniqId, selecteds, display_limit1, jsonSrc, sectionWidget, jsonFileName, keys, lignes, values, types, filteredItems, groupedItems, itemsPerPage, pagedItems, currentPage, query, sortingOrder, reverse)"
										data-dismiss="modal" />
								</div>

							</div>

						</div>

						<div id="conteneur">
							<div ng-show="types[selecteds[0]]=='date' && selecteds[1] ">
								Fonction somme par mois : <input type="text"
									placeholder="Choisissez l'année" ng-model="selectedYear" />
								<button ng-click="afficherGrapheTableau()"
									ng-bind="labelButtonGraphtoTable"></button>
								<br />
								<div id="visualisationContainer2" style="position: relative; height: 50vh"
									ng-show="!booleenGrapheTableau && selectedYear">
									<br /> <br />
									<canvas id="visuMod" ng-bind="showCanvas(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear,'visuMod')">
									</canvas>

								</div>

								<div ng-show="booleenGrapheTableau && selectedYear">
									<table>
										<tr>
											<th>Mois</th>
											<th>{{keys[selecteds[1]]}}</th>
										</tr>
										<tr
											ng-repeat="CA in sumValuesByMonth(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)">
											<td>{{ getMonthsNames()[$index] }}</td>
											<td>{{
												sumValuesByMonth(keys[selecteds[0]].toString(),keys[selecteds[1]].toString(),selectedYear)[$index]
												}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>

						<div id="conteneurNew2"
							ng-show="keys[selecteds[0]] && keys[selecteds[1]]">

							<div>
								<div class="pagination" style="display: flex; flex-direction: column; justify-content: center">
									<div id="flexDisplay" style="justify-content: center;">
										<div>
											<input type="text" ng-model="query" ng-change="search()"
												size="12" placeholder="Search" style="margin-right: 20px;" />
										</div>
	
										<div>
											<input type="button" class="btn btn-warning btn-sm"
										value="Filter OFF"  ng-click="reinitOrder()" style="margin-right: 20px;"/>
										</div>
	
										<div>
											<input type="text" ng-model="itemsPerPage"
												ng-change="search()" placeholder="Items Per Page" size="1"
												style="text-align: center; margin-right: 5px;" />
										</div>
										
										<div>
											<span>items par page</span>
										</div>
									</div>
									
									<br />
								
									<div id="flexDisplay"  style="justify-content: center;">
										<div ng-class="{disabled: currentPage == 0}"
											style="margin-right: 20px;">
											<a ng-click="firstPage()">First</a>
										</div>
										<div ng-class="{disabled: currentPage == 0}"
											style="margin-right: 20px;">
											<a ng-click="prevPage()">« Prev</a>
										</div>
										<div>
											<input ng-model="currentPage" type="text" placeholder=""
												size="1" style="text-align: center; margin-right: 20px;" />
										</div>

										<div
											ng-class="{disabled: currentPage == pagedItems.length - 1}"
											style="margin-right: 20px;">
											<a ng-click="nextPage()">Next »</a>
										</div>
										<div
											ng-class="{disabled: currentPage == pagedItems.length - 1}"
											style="margin-right: 20px;">
											<a ng-click="lastPage()">Last</a>
										</div>
									</div>
								</div>

								<table class="table table-striped table-condensed table-hover">
									<tbody>
										<tr>
											<td colspan="{{colCount}}">
												<div class="scrollit">
													<table class="friends">
														<tr>
															<th ng-repeat="sel in selecteds | limitTo: colCount"
																width="200" class="keys[sel]">{{keys[sel]}} &nbsp;<a
																ng-click="sort_by(keys[sel])"><i
															class="icon-sort"><img type="image/png"
																src="img/chevron.png" width="10" heigth="10"></img></i></a>
															</th>
														</tr>
														<tr
															ng-repeat="value in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
															<td ng-repeat="sel in selecteds | limitTo: colCount"
																width="200">{{getValuesSimple(keys[sel], value)}}</td>
														</tr>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</body>

</html>