<!DOCTYPE html>
<html ng-app="TestUploadFile">

	<head>
		<!-- Encodage -->
		<meta charset="utf-8" />
		
		<!-- Feuille de style -->
		<link rel="stylesheet" type="text/css" href="styleDSQ.css">
		
		<!-- Bootstrap -->
		<link data-require="bootstrap-css@3.0.0-rc2" data-semver="3.0.0-rc2" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css" />
		
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
		<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.js"></script>
		
		<!-- ng-table -->
		<link rel="stylesheet" href="http://cdn.jsdelivr.net/angular.ngtable/0.3.2/ng-table.css">
        <script src="http://cdn.jsdelivr.net/angular.ngtable/0.3.2/ng-table.js"></script>

		<title>PI Pharmagest</title>
		<script>document.write('<base href="' + document.location + '" />');</script>
		<link rel="stylesheet" href="styleDSQ.css" />
		<script data-require="angular.js@1.0.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js" data-semver="1.0.8"></script>
		<script> 
			var app = angular.module('TestUploadFile', ["ngTable"]);
		</script>

		<script src="upload.js"></script>
		<script src="app.js"></script>
	</head>

	<body>
 
		<div ng-controller="JsonUploadController" class="container">
			<h1>Upload du Json</h1>
			<form>
				<input type="file" read-text="onFileSelect($files)">
			</form>
			<br>
			<i ng-hide="jsonSrc">Aucun json sélectionné</i>
			
			<div id="flexDisplay">
				
					<div id="conteneur">
					
						<div ng-show="jsonSrc" style class="col-md-6">
						
							Select X : 
							<select ng-model="selectedX">
								<option ng-repeat="key in keys" value="{{key}}">{{key}}</option>
							</select>
									
							<br><br>
									
							Selected X Attribute : {{selectedX}}
							<br>
									
							<br><br>
									
							Select Y : 
							<select ng-model="selectedY">
								<option ng-repeat="key2 in keys" value="{{key2}}">{{key2}}</option>
							</select>
									
							<br><br>
									
							Selected Y Attribute : {{selectedY}}
							<br>
									
							<br><br>
								
							<button  type="button" class="btn btn-primary" ng-click="getValues2(selectedX, selectedY)">
							Ok
							</button>
								
						</div>
							
					</div>
					
					<div id="conteneur">
					
						<div ng-show="jsonSrc" style class="col-md-6">
							
							Première ligne affichée:
							<input ng-model="display_limit1" type="text">
							<br>
							Dernière ligne affichée (max : {{getValues(selectedX).length}}) :
							<input ng-model="display_limit2" type="text">
							
							<br><br>
							
						</div>
					</div> 
					
					<div id="conteneur">
						<table class="table table-bordered table-condensed table-striped">
							<tr>
								<th>{{selectedX}}</th><th>{{selectedY}}</th>
							</tr>
							<tr ng-repeat="value in resXY.slice(display_limit1, display_limit2)">
								<td>
									{{ value.id }}
								</td>
								<td>
									{{ value.val }}
								</td>   
							</tr>
						</table>
					</div>
			</div>
		</div>

	</body>

</html>
