<!DOCTYPE html>
<html ng-app="TestUploadFile">

	<head>
		<!-- Encodage -->
		<meta charset="utf-8" />
		
		<!-- Feuille de style -->
		<link rel="stylesheet" type="text/css" href="styleDSQ.css">
		
		<!-- Bootstrap -->
		<link data-require="bootstrap-css@3.0.0-rc2" data-semver="3.0.0-rc2" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css" />
		
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
		<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- ng-table -->
		<link rel="stylesheet" href="http://cdn.jsdelivr.net/angular.ngtable/0.3.2/ng-table.css">
        <script src="http://cdn.jsdelivr.net/angular.ngtable/0.3.2/ng-table.js"></script>

        <!-- ChartJS-->
        <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js></script>

		<title>OffiBoard</title>
		<script>document.write('<base href="' + document.location + '" />');</script>
		<link rel="stylesheet" href="styleDSQ.css" />
		<script data-require="angular.js@1.0.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js" data-semver="1.0.8"></script>
		<script> 
			var app = angular.module('TestUploadFile', ["ngTable"]);
		</script>

		<script src="upload.js"></script>
		<script src="app.js"></script>
	</head>

	<body>
 
		<div ng-controller="JsonUploadController" class="container">
			<div style="margin-bottom:50px;">
				<center><h2><span style="color:green;">O</span>ffi<span style="color:green;">B</span>oard</h2></center>
			</div>
			
			<div id="flexDisplay">
				
					<div id="conteneur">
					
						<div style="margin: 0 auto;" class="col-md-6">
						
							<form>
								<input type="file" read-text="onFileSelect($files)">
							</form>
							<br>
							<i ng-hide="jsonSrc">Aucun json sélectionné</i>
							
							<br>
							
							<span><b ng-show="jsonSrc">Choisir le premier axe :</b></span> 
							<select ng-show="jsonSrc" ng-model="selectedX" ng-options="keys.indexOf(key) as key for key in keys">
							</select>
							<br>
							<span ng-show="types[selectedX]"> Type du premier axe : {{types[selectedX]}} </span>
							
							<br><br>
							
							<span><b ng-show="jsonSrc">Choisir le second axe :</b></span> 
							<select ng-show="jsonSrc" ng-model="selectedY" ng-options="keys.indexOf(key2) as key2 for key2 in keys">
							</select>
							<button ng-show="jsonSrc" id="ajoutAxe">+</button>
							<br>
							<span ng-show="types[selectedY]">Type du second axe : {{types[selectedY]}}</span>
							<div id="axesY"></div>
							

						</div>
							
					</div>

					<div id="conteneur">
						<div ng-show="types[selectedX]=='date' && selectedY ">
							Fonction somme par mois : 
							<input type="text" placeholder="Choisissez l'année" ng-model="selectedYear">
							<br>
							<div ng-show="selectedYear">
								<div class="row-md-12">
								<canvas id="Chart">
									{{getChart(keys[selectedX].toString(),keys[selectedY].toString(),selectedYear)}}
								</canvas>
								</div>
								<span>{{keys[selectedY].toString()}} par mois pour l'année {{selectedYear}} :</span>
								<br><br>
								<table style="margin: 0 auto;">
									<tr>
										<th>Mois</th><th>{{keys[selectedY]}}</th>
									</tr>
									<tr ng-repeat="CA in sumValuesByMonth(keys[selectedX].toString(),keys[selectedY].toString(),selectedYear)">
										<td>{{ getMonthsNames()[$index] }}</td>
										<td >{{ sumValuesByMonth(keys[selectedX].toString(),keys[selectedY].toString(),selectedYear)[$index] }}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
	<div id=graphe>
		
		
	</div>
					<div id="conteneur" ng-show="keys[selectedX] && keys[selectedY]">
					
						<div>
							Nombre de lignes affichées :
							<input ng-model="display_limit1" type="text">
							
							<br><br>
						
							<table class="table table-bordered table-condensed table-striped" style="margin: 0 auto;">
								<thead>
									<tr>
										<th width="200">{{keys[selectedX]}}</th><th width="200">{{keys[selectedY]}}</th>
									</tr>
								</thead>
								<div class="scrollit">
									<tbody>
										<tr>
											<td colspan="2">
												<div class="scrollit">
													<table>
														<tr ng-repeat="value in getValues(keys[selectedX]) | limitTo:display_limit1">
															<td width="200">
																{{ getValues(keys[selectedX])[$index] }}
															</td>
															<td width="200">
																{{ getValues(keys[selectedY])[$index] }}
															</td>   
														</tr>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</div>
							</table>
						</div>
					</div>
			</div>
		</div>
	</body>

</html>
